<div class="container">
  <div class="event">
    <div class="name">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
    <img [src]="event?.imageUrl" [alt]="event?.name">

    <div class="info">
      <div><strong>Date:</strong> {{event?.date| date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="address">
      <address>
        <div><strong>Address:</strong></div>
        <div>{{event?.location?.address}}</div>
        <div>{{event?.location?.city}}, {{event?.location?.country}}</div>
      </address>
    </div>
  </div>
  <hr>
  <h2>Sessions</h2>
  <div class="addSession">
    <button type="button" (click)="toggleAddMode()">Add Session</button>
  </div>
  <div class="sessionList" *ngIf="!addMode">
    <app-session *ngFor="let session of event?.sessions" [session]="session"></app-session>
  </div>
  <app-create-session *ngIf="addMode" (createSession)="saveSession($event)" (cancelAddMode)="toggleAddMode()"></app-create-session>
</div>


