<nav class="header">
  <section class="navigation">
    <img src="/assets/images/angular.svg" alt="angular icon">
    <div class="events">
      <div [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">All Events</div>
      <div [routerLink]="['/events/new']" routerLinkActive="active" class="link">Create Event</div>
      <option name="options">
        <select>Events</select>
      </option>
    </div>
  </section>
  <section class="search">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
      <input type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="search sessions...">
      <button type="submit">Search</button>
    </form>
  </section>
  <section class="user link">
    <div class="profile" [routerLink]="['user/profile']" *ngIf="isAuthenticated()">Welcome {{username}}</div>
    <div class="profile" [routerLink]="['user/login']" *ngIf="!isAuthenticated()">Login</div>
  </section>
  <section class="modal" *ngIf="modalActive">
    <div class="close" (click)="closeAndClear(false)">x</div>
    <app-modal [searchTerm]="searchTerm" (closeAndClear)="closeAndClear(false)"></app-modal>
  </section>
</nav>
