<nav class="header">
  <section class="navigation">
    <header><img src="/assets/images/angular.svg" alt="angular icon"></header>
    <div class="events">
      <div [routerLink]="['/events']">All Events</div>
      <div [routerLink]="['/events/new']">Create Event</div>
      <option name="options">
        <select>Events</select>
      </option>
    </div>
  </section>
  <section class="search">
    <input type="text">
    <button>Search</button>
  </section>
  <section class="user">Welcome John</section>
</nav>
