.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--clr-blue);
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}

.header img{
  width: 40px;
  height: 40px;
}

.navigation{
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.events{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.events div{
  padding: 0.5rem;
}

.search{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.search input{
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1.2rem;
  border: navajowhite;
}

.user{
  padding: 0.5rem;
  cursor: pointer;
}

.active{
  color: var(--clr-yellow);
}

.link:hover{
  background: var(--clr-light-yellow);
  color: var(--clr-red);
  border-radius: 10px;
}
