.header{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header h1{
  margin-bottom: 1rem;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #24768f;
  padding: 1rem;
  border-radius: 10px;
}

.container img{
  width: 100px;
}
