@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;400;500;700&display=swap');

:root{
  --clr-red: #d62828;
  --clr-yellow: #fcbf49;
  --clr-blue:#003049;
  --clr-light-yellow: #eae2b7;
  --clr-orange: #f77f00;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-light-yellow);
  margin: 2rem;
  font-family: 'Martian Mono', monospace;
}

.btn-group{
  display: flex;
  gap: 1rem;
}

button{
  padding: 0.5rem 1rem;
  background: var(--clr-orange);
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

.form-group{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button:disabled{
  background: gray;
  cursor: no-drop;
}

sup{
  color: var(--clr-red);
}

.cancel{
  background: var(--clr-red);
}

